@import url('./src/styles/base/base.css');

.action {
    padding: 0.5rem;
    border-radius: 9999px;
    cursor: pointer;
    color: var(--principal);
    background-color: #928f8e11;
    font-size: 0.8rem;
}

.action:hover {
    color: var(--white);
}

.anchor {
    padding: 4px;
    font-size: .8rem;
    cursor: pointer;
}

.anchor:hover {
    color: var(--white) !important;
}