@import url("../base/base.css");

.btnProyects {
	background-color: var(--button-background);
	padding: 0.5rem;
	border-radius: 9999px;
	cursor: pointer;
	color: var(--principal);
	font-size: 0.8rem;
}

.btnProyects:hover {
	color: var(--white);
}

.btnExperiences,
.btnSkills {
	padding: 4px;
	font-size: 0.8rem;
	cursor: pointer;
}

.btnExperiences:hover,
.btnSkills:hover {
	color: var(--white) !important;
}
