.efect-general-details {
	animation-name: animBox;
	animation-duration: 0.5s;
	animation-iteration-count: initial;
	border-radius: 8px;
	overflow: hidden;
}

.general-details {
	animation-name: animBox;
	animation-duration: 0.5s;
	animation-iteration-count: initial;
	border-radius: 8px;
	overflow: hidden;
}

#general-details {
	overflow: hidden;
	border-radius: 8px;
	margin-top: 1rem;
}

@keyframes animBox {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
