.efect-general-details {
	animation-name: animBox;
	animation-duration: 0.5s;
	animation-iteration-count: initial;
}

.general-details {
	animation-name: animBox;
	animation-duration: 0.5s;
	animation-iteration-count: initial;
}

@keyframes animBox {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
