.logo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo .new-news {
    background-color: #10182f;
    border-radius: 9999px;
    border: solid 1px #ff7423;
    width: 12px;
    height: 12px;
    transform: translateX(-12px);
    display: grid;
    place-content: center;
    font-size: 0.6rem;
    font-weight: 700;
    overflow: hidden;
    align-self: flex-start;
    color: #e2e8f0;
}

.logo:hover .new-news {
    background-color: #ff7423;
}

.logo .not-news {
    display: none;
}


.logo .msg-desactive {
    font-size: .9rem;
    transition: all .3s ease-out;
    transform: translateX(-300px);
    opacity: 0;
}

.logo:hover .msg-active, .logo .msg-active {
    font-size: .9rem;
    opacity: 1;
    margin-left: 1rem;
    padding: 0;
    z-index: -1;
}

