a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .newKnows {
    background-color: #10182f;
    border-radius: 9999px;
    border: solid 1px #ff7423;
    width: 16px;
    height: 16px;
    transform: translateX(-12px) translateY(-4px);
    display: grid;
    place-content: center;
    font-size: 0.7rem;
    font-weight: 700;
    overflow: hidden;
    align-self: flex-start;
    color: #e2e8f0;
}

.logo:hover .newKnows {
    background-color: #ff7423;
}

.logo p {
    width: 0;
    overflow: hidden;
    display: none;
}