@import '../base/base.css';

.pointer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    pointer-events: none;
    z-index: -999;
    top: 0;
    left: 0;
}

.center-pointer {
    width: 1px;
    height: 1px;
    background-color: var(--pointer-gradient);
    border-radius: 9999px;
}