@import "../base/base.css";

.footer {
	font-size: 0.8rem;
	color: var(--white);
	position: absolute;
	bottom: 2rem;
}

.mailtome a {
	border: solid 1px var(--principal);
	border-radius: 16px;
	padding: 4px 24px;
}

.mailtome a:hover {
	box-shadow: 0px 0px 16px 1px var(--button-shadow);
	background-color: var(--button-backgound);
	color: var(--principal);
}

@media (max-height: 800px) {
	.footer {
		font-size: 0.8rem;
		color: var(--white);
		position: relative;
	}
}
