main .general .photo-name {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	/* justify-content: space-between; */
}

.general .photo-name img {
	/* width: 11rem;
	height: 11rem; */
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	order: -1;
}

/* .general .photo-name .box-photoName img {
	background-color: var(--principal);
	width: 0px;
	height: 40px;
	border-radius: 9999px;
	transition: all 0.3s ease-in-out;
}
*/

.general .photo-name:hover img {
}

.general .photo-name:hover .download_cv a {
	color: var(--principal);
	opacity: 1;
	margin-left: 0;
}

.general {
	display: flex;
	flex-direction: column;
	width: 500px;
	padding: 1rem;
	/* height: 500px; */
}
.general .photo-name .myName {
	font-size: 3rem;
	font-weight: bolder;
	margin: 3px 0px;
	color: var(--white);
	/* letter-spacing: 0.0005em;
	word-spacing: 0.1rem; */
}

.general .photo-name .download_cv {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.general .photo-name .myTitle {
	margin: 0;
	color: var(--white);
	font-weight: bolder;
	margin-top: 0px;
	font-size: 1.34rem;
}

.general .photo-name .download_cv a {
	font-size: 2rem;
	opacity: 0;
	color: var(--principal) !important;
}

.general .photo-name .download_cv a:hover * {
	cursor: pointer;
	color: aqua;
}

.general hr {
	width: 100%;
	border: 1px solid var(--hr-color);
	border-radius: 999px;
}

.details {
	overflow: scroll;
}

.details::-webkit-scrollbar {
	display: none;
}
