.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
    max-width: 500px;
    gap: 1rem;
}


.anchor,
.mailtome {
    border-left: solid 2px #ff742300;
    font-size: .8rem;
    color: #e2e8f0;
    cursor: pointer;
}

.anchor:hover {
    color: #ff7423;
}

.mailtome {
    padding: 4rem 0rem;
    text-align: center;
}