.info-item {
    /* box-shadow: -2px 0px 16px 1px #ff68179a; */
    padding: 16px;
    transition: all 0.2s ease-in;
    border: solid 1px #08266d00;
    display: flex;
    flex-direction: column;
}

.info-item:hover {
    background-color: #f19e6d1f;
    border-radius: 0.25rem;
    border-top: solid 0.1px #e2e8f023;
    border-left: solid 0.1px #e2e8f023;
    border-right: solid 0.1px #06162b23;
    border-bottom: solid 0.1px #06162b23;
}

.info-item:hover .info-elements .anchor {
    color: #ff7423;
}

.info-elements {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}