.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
    max-width: 400px;
    gap: 1rem;
}

.anchor {
    border-left: solid 2px #ff742300;
    font-size: .8rem;
    color: #e2e8f0;
    cursor: pointer;
}

.anchor:hover {
    color: #ff7423;
}

.mailtome {
    font-size: .8rem;
    border: solid 1px #ff7423;
    border-radius: 9999px;
    color: #e2e8f0;
    text-align: center;
    padding: 4px 28px;
}

.mailtome:hover {
    box-shadow: 0px 0px 20px 1px #ff7423;
}