@import url(../../../styles/base/base.css);

:root {
	--heightExperienceCard: 20rem;
}

.boxExperienceCard {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: var(--heightExperienceCard);
	position: relative;
	gap: 1rem;
}

.boxExperienceCard h2 {
	color: var(--principal);
}

.experienceCard {
	/* box-sizing: border-box; */
	display: flex;
	position: relative;
	width: 100%;
	background-color: var(--secondary);
	border-radius: 8px;
	height: calc(var(--heightProyectCard) - 3rem);
}

.imgExperienceCard {
	width: auto;
}

.infoExperienceCard {
	flex: 1;
	padding: 1.5rem;
	text-align: justify;
	display: flex;
	align-items: center;
}

@keyframes efecto-opaco {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
