@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  color-scheme: light dark;
  /* color: #e2e8f0; */
  color: #6f88c0;
  /* background-color: #101D3C; */
  /* background-color: #385392; */
  background-color: #10182F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all .3s ease-in-out;
}

* {
  transition: all .2s ease-in-out;
}

p {
  line-height: 1.5rem;
  letter-spacing: 0.0005em;
}

a {
  font-weight: 500;
  color: #e2e8f0;
  text-decoration: inherit;
}
a:hover {
  color: #ff7423;
}

body {
  margin: 0;
  /* overflow: hidden; */
}

h1 {
  font-size: 3.2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
