/* @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lusitana&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap"); */

:root {
	/* --font-principal: "Be Vietnam Pro", sans-serif; */
	--font-principal: "Kanit", sans-serif;
	/* --font-wordpress: "Marcellus", serif; */
	font-family: var(--font-principal);
	/* font-size: large; */
	color-scheme: light dark;
	color: var(--letter);
	background-color: var(--secondary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/*? ========================ROOT THEME============================== */
:root,
:root.griger-theme {
	/* font-family: "Roboto", sans-serif; */
	/* letter-spacing: 1.5px; */
	/* Colors */
	--principal: #4de7a8;
	--secondary: #001e26;
	--letter: #a7c1c2;
	--white: #fff;

	/* colors of boxes */
	--button-background: #003543;
	--button-shadow: #f0da4f8a;
	--hr-color: #4de7a8;
	--info-item-color: #0035439f;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #0035437e;

	/* image */
	--big-logo: url("");

	/* keyframes */
	--keyframe-from: rotateY(0deg);
	--keyframe-to: rotateY(360deg);
}

/*? ========================NUXT THEME============================== */
:root.nuxt-theme {
	/* size */
	--width: 300px;
	--height: 300px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 6rem;
	--left: 6rem;

	/* Colors */
	--principal: #098466;
	--secondary: #ffffff;
	--letter: #6e7f83;
	--white: #001e26;

	/* colors of boxes */
	--button-background: #eefdf90e;
	--button-shadow: #f1fff89a;
	--hr-color: #c6e6c84f;
	--info-item-color: #8aaa961f;
	--info-item-color-solid: #0681a333;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #032731;

	/* image */
	--big-logo: url("https://nuxt.com/assets/design-kit/logo/icon-green.png");

	/* keyframes */
	--keyframe-from: translateY(0rem);
	--keyframe-midle: translateY(4rem);
	--keyframe-to: translateY(0rem);
}

/*? ========================JAVASCRIPT THEME============================== */
:root.javascript-theme {
	/* font-family: "Azeret Mono", monospace; */
	/* size */
	--width: 350px;
	--height: 350px;

	/* Colors */
	--principal: #ffca28;
	--secondary: #323330;
	--letter: #f4f5e3;
	--white: #b8b3a8;

	/* position */
	--botton: 2rem;
	--left: 2.5rem;

	/* colors of boxes */
	--button-background: #302f2a;
	--hr-color: #e9d66a;
	--info-item-color: #4b4d47;
	--info-item-color-solid: #4b4d47;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://stackdiary.com/wp-content/uploads/2023/03/How-to-Get-Image-Size-using-JavaScript.png");

	/* keyframes */
	--keyframe-from: rotateX(0deg);
	--keyframe-to: rotateY(0deg);
}

/*? ========================NEXT THEME============================== */
:root.next-theme {
	/* font-family: "Roboto", sans-serif; */

	/* size */
	--width: 300px;
	--height: 300px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: -2rem;
	--left: 6rem;

	/* Colors */
	--principal: #3290fc;
	--secondary: #000000;
	--letter: #adadad;
	--white: #fff;

	/* colors of boxes */
	--button-background: #1f1f1f;
	--hr-color: #3290fc;
	--info-item-color: #1b1b1b;
	--info-item-color-solid: #1b1b1b;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://media.crystallize.com/crystallize_marketing/23/1/14/6/next_js_logo.svg");

	/* keyframes */
	--keyframe-from: rotateY(0deg);
	--keyframe-to: rotateY(360deg);
}

/*? ========================REACT THEME============================== */
:root.react-theme {
	/* size */
	--width: 800px;
	--height: 800px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: -400px;
	--left: -400px;

	/* Colors */
	--principal: #61dafb;
	--secondary: #23272f;
	--letter: #adadad;
	--white: #fff;

	/* colors of boxes */
	--button-background: #1f1f1f;
	--button-shadow: #f0da4f8a;
	--hr-color: #323742;
	--info-item-color: #23272f71;
	--info-item-color-solid: #3e3c4e;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://user-images.githubusercontent.com/21227322/31187159-01c8d592-a8ff-11e7-9386-af708a7ae9de.png");

	/* keyframes */
	--keyframe-from: rotateZ(0deg);
	--keyframe-midle: rotateZ(180deg);
	--keyframe-to: rotateZ(360deg);
}

/*? ========================VUE THEME============================== */
:root.vue-theme {
	/* font-family: "Public Sans", sans-serif; */

	/* size */
	--width: 300px;
	--height: 300px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 0rem;
	--left: 6rem;

	/* Colors */
	--principal: #41b782;
	--secondary: #1a1a1a;
	--letter: #adadad;
	--white: #e1e1e1;

	/* colors of boxes */
	--button-background: #1f1f1f;
	--button-shadow: #f0da4f8a;
	--hr-color: #08276d4f;
	--info-item-color: #33495d;
	--info-item-color-solid: #33495d;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://logo-download.com/wp-content/data/images/png/Vue.js-logo.png");

	/* keyframes */
	--keyframe-from: translateY(0rem);
	--keyframe-midle: translateY(4rem);
	--keyframe-to: translateY(0rem);
}

/*? ========================TAILWIND THEME============================== */
:root.tailwind-theme {
	/* font-family: "Mulish", sans-serif; */

	/* size */
	--width: 250px;
	--height: 250px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 6rem;
	--left: 8rem;

	/* Colors */
	--principal: #38bdf8;
	--secondary: #0f172a;
	--letter: #94a3bb;
	--white: #ffffff;

	/* colors of boxes */
	--button-background: #6363637a;
	--button-shadow: #f0da4f8a;
	--hr-color: #721aad4f;
	--info-item-color: #6363637a;
	--info-item-color-solid: #3e3c4e;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2048px-Tailwind_CSS_Logo.svg.png");

	/* keyframes */
	--keyframe-from: translateY(0rem);
	--keyframe-midle: translateY(4rem);
	--keyframe-to: translateY(0rem);
}

/*? ========================NODE THEME============================== */
:root.node-theme {
	/* font-family: "Quattrocento Sans", sans-serif; */
	/* font-size: 1.1rem; */

	/* size */
	--width: 150px;
	--height: 171px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 6rem;
	--left: 10rem;

	/* Colors */
	--principal: #84ba64;
	--secondary: #090c15;
	--letter: #9aa59a;
	--white: #ffffff;

	/* colors of boxes */
	--button-background: #1f2f2b;
	--button-shadow: #f0da4f8a;
	--hr-color: #111727;
	--info-item-color: #2b312b;
	--info-item-color-solid: #2b312b;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://static-00.iconduck.com/assets.00/node-js-icon-1817x2048-g8tzf91e.png");

	/* keyframes */
	--keyframe-from: rotateY(0deg);
	--keyframe-to: rotateY(360deg);
}

/*? ========================EXPRESS THEME============================== */
:root.express-theme {
	/* font-family: "Zen Kaku Gothic New", sans-serif; */

	/* size */
	--width: 200px;
	--height: 200px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 3rem;
	--left: 9rem;

	/* Colors */
	--principal: #259dff;
	--secondary: #fdfdfd;
	--letter: #8a8a8a;
	--white: #353535;

	/* colors of boxes */
	--button-background: #fdfdfd;
	--button-shadow: #f0da4f8a;
	--hr-color: #111727;
	--info-item-color: #eeeeee;
	--info-item-color-solid: #ffffff;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://cdn.icon-icons.com/icons2/2699/PNG/512/expressjs_logo_icon_169185.png");

	/* keyframes */
	--keyframe-from: rotateY(0deg);
	--keyframe-to: rotateY(360deg);
}

/*? ========================MONGOOSE THEME============================== */
:root.mongoose-theme {
	/* font-family: "Poppins", sans-serif; */

	/* size */
	--width: 300px;
	--height: 300px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 0rem;
	--left: 4.5rem;

	/* Colors */
	--principal: #880000;
	--secondary: #ffffff;
	--letter: #777777;
	--white: #000000;

	/* colors of boxes */
	--button-background: #f5f5f5;
	--hr-color: #d6d6d6;
	--info-item-color: #d6d6d6;
	--info-item-color-solid: #d6d6d6;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://tsed.io/mongoose.png");

	/* keyframes */
	--keyframe-from: translateX(0rem);
	--keyframe-midle: translateX(4rem);
	--keyframe-to: translateX(0rem);
}

/*? ========================MONGODB THEME============================== */
:root.mongodb-theme {
	/* font-family: "Lusitana", serif; */

	/* size */
	--width: 300px;
	--height: 80px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 7rem;
	--left: 6rem;

	/* Colors */
	--principal: #13aa52;
	--secondary: #ffffff;
	--letter: #00684a;
	--white: #001e2b;

	/* colors of boxes */
	--button-background: #f5f5f5;
	--hr-color: #13aa52;
	--info-item-color: #f5f5f5;
	--info-item-color-solid: #f5f5f5;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/2560px-MongoDB_Logo.svg.png");

	/* keyframes */
	--keyframe-from: translateX(0rem);
	--keyframe-midle: translateX(2rem);
	--keyframe-to: translateX(0rem);
}

/*? ========================FIGMA THEME============================== */
:root.figma-theme {
	/* font-family: "Kanit", sans-serif; */

	/* size */
	--width: 100px;
	--height: 150px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 6rem;
	--left: 12rem;

	/* Colors */
	--principal: #0d99ff;
	--secondary: #ffffff;
	--letter: #f24d18;
	--white: #a358ff;

	/* colors of boxes */
	--button-background: #fdfdfd;
	--hr-color: #ff7362;
	--info-item-color: #bee0d4;
	/* --info-item-color: #02d084; */
	--info-item-color-solid: #bee0d4;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/1667px-Figma-logo.svg.png");

	/* keyframes */
	--keyframe-from: rotateY(0deg);
	--keyframe-to: rotateY(360deg);
}

/*? ========================API CONSUME THEME============================== */
:root.api-consume-theme {
	/* size */
	--width: 440px;
	--height: 250px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 5rem;
	--left: 4rem;

	/* Colors */
	--principal: #0091a0;
	--secondary: #ececec;
	--letter: #17191a;
	--white: #016175;

	/* colors of boxes */
	--button-background: #55ffd7;
	--button-shadow: #01380121;
	--hr-color: #ffffff;
	--info-item-color: #00dfb2;
	--info-item-color-solid: #00dfb2;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://espublicogestiona.com/wp-content/uploads/2021/07/api.gif");

	/* keyframes */
	--keyframe-from: translateY(0rem);
	--keyframe-midle: translateY(4rem);
	--keyframe-to: translateY(0rem);
}

/*? ========================API REST THEME============================== */
:root.api-rest-theme {
	/* font-family: monospace; */
	/* font-size: large; */

	/* size */
	--width: 420px;
	--height: 150px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 8rem;
	--left: 2rem;

	/* Colors */
	--principal: #e46116;
	--secondary: #ffffff;
	--letter: #8d8d8d;
	--white: #141414;

	/* colors of boxes */
	--button-background: #e7e7e7;
	--hr-color: #f7f7f7;
	--info-item-color: #1414140a;
	--info-item-color-solid: #f0f0f0;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://afteracademy.com/images/mvc-architecture-in-web-applications-working-851592344a7c710d.gif");

	/* keyframes */
	--keyframe-from: translateY(0rem);
	--keyframe-midle: translateY(0rem);
	--keyframe-to: translateY(0rem);
}

/*? ========================WORDPRESS THEME============================== */
:root.wordpress-theme {
	/* font-family: var(--font-wordpress); */

	/* size */
	--width: 200px;
	--height: 200px;

	/* borders */
	--background-logo-img: #fffff00;
	--border-logo-img: 0%;

	/* position */
	--botton: 6rem;
	--left: 9rem;

	/* Colors */
	--principal: #00769c;
	--secondary: #fdfdfd;
	--letter: #4a555e;
	--white: #101517;

	/* colors of boxes */
	--button-background: #ffffff;
	--button-shadow: #e0f7ff;
	--hr-color: #e9e9e9;
	--info-item-color: #bbe0fa;
	--info-item-color-solid: #bbe0fa;

	/* pointer */
	/** --pointer-gradient: #1d4ed826; */
	--pointer-gradient: #1d4ed800;

	/* image */
	--big-logo: url("https://img.freepik.com/iconos-gratis/wordpress_318-183439.jpg");

	/* keyframes */
	--keyframe-from: rotateY(0deg);
	--keyframe-to: rotateY(360deg);
}
