:root {
    /* Colors */
    --principal: #ff7423;
    --secondary: #10182F;
    --letter: #6f88c0;
    --white: #e2e8f0;

    --pointer-gradient: #1d4ed826;
}

/* .javascript-theme {
    --principal: #f0db4f;
    --secondary: #323330;
    --letter: #d3d3d3;
    --white: #f8f7ee;
} */